/* Set the background color and font family for the entire page */
body {
    background-color: #000000;
    font-family: sans-serif;
    color: white;
    text-shadow: #000000;
  }
  
  #UploadForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
    font-family: Arial, sans-serif;
  }
  
  #UploadForm input[type="file"] {
    display: flex;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
    
  }
  input[type=file]::file-selector-button {
    border: 2px solid #4CAF52;
    padding: .2em .4em;
    border-radius: .2em;
    background-color: #ed6556;
    transition: 0.5s;
  }
  
  input[type=file]::file-selector-button:hover {
    background-color: #097112;
    border: 2px solid #20b240;
  }
  #UploadForm button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  #UploadForm button:hover {
    background-color: #3e8e41;
  }
  
  /* Style the form container */
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 10vh;
  }
  
  /* Style the buttons */
  .button {
    padding: 10px 20px;
    background-color: #444;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    transition: all 0.2s ease-in-out;
  }
  
  .button:hover {
    background-color: #666;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
  }
  
  /* Style the file input button */
  .file-input {
    /* display: none; */
    padding: 10px 20px;
  }
  
  .file-upload-button {
    padding: 10px 20px;
    background-color: #444;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    transition: all 0.2s ease-in-out;
  }
  
  .file-upload-button:hover {
    background-color: #666;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
  }
  